.git
.github
.gitignore

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

**/node_modules
**/dist

openclaw-manager-main/src-tauri
openclaw-manager-main/pic

.env
.env.*

*.log
